.vscode/
bin/
.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
*.json
*.md
bin
tests
.distignore
.phpcs.xml.dist
.travis.yml
Gruntfile.js
phpunit.xml.dist
package.json
.editorconfig
.vscode-upload.json